*{
	margin:0rem;
	padding:0rem;
}


html{
	font-family: ocr-a-std, monospace;
	font-weight: 400;
	font-style: normal;	
	overflow-y: hidden;
	overflow-x: hidden;
}

body{
	background-color: #14DBB4;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.header{
	min-width: 100%;
	padding: 5% 0%;
	background-color: #DC143C;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 41px;
	color: white;
	text-shadow: 2px 2px 2px black;
	margin-bottom: 10px;
}

.content{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100vh - 101px);
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.calendar{
	background-color: white;
	width: 350px;
	height: 535px;
	border-radius: 5px;
}

.months{
	display: flex;
	height: 100px;
	justify-content: space-around;
	align-items: center;

}

.curr-month{
	font-size: 22px;
	text-decoration: underline;
}

.day-names
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.day-names div{
	height: calc(321px/6);
	width: calc(343px/7);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.days{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.days div{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: calc(344px/7);
	height: calc(324px/6);
	text-align: center;
}

.quotes{
	margin-top: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
}

@media screen and (max-width:359px) {
     
	html{
		font-size: 90%;
	}

	.calendar{
		width: 305px;
		height: 470px;
	}

	.months{
		height: 70px;
	}

	.months div{
		display: flex;
		justify-content: space-around;
	}

	.day-names div{
		width: calc(305px/7);
		height: calc(321px/6);
	}


	.days div{
		width: calc(305px/7);
		height: calc(324px/6);
	}

	.quotes{
		margin-top: 10px;

	}
 
}