*,
*::before,
*::after{
	margin: 0;
	padding: 0;
}

body{
	overflow-x: hidden;
	font-family: 'Nunito', sans-serif;
	font-size: 1.6rem;
}

.nav{
	list-style: none;
	background-color: black;
	color: white;
	height: 4rem;
}

.nav ul{
	list-style: none;
	display: flex;
	justify-content: space-around;
	padding-top: 1rem;
}

.headshot{
	display: flex;
	justify-content: center;
	padding-top: 5rem;
	padding-bottom: 17rem;
}

.headshot img{
	width: 40rem;
	height: auto;
	border-radius: 1rem;
	box-shadow: 0.2rem 0.2rem 3rem black;
}

.experience{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.experience .title{
	font-size: 4rem;
	margin-bottom: 1rem;
}

.experience .cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.experience .cards div{
	border: solid 0.1rem black;
	border-radius: 1rem;
	box-shadow: 0.1rem 0.1rem 1rem black;
	margin: 5rem;
	width: 20rem;
	height: 20rem;
}

.experience .cards div p{
	text-align: center;
	font-size: 2.5rem;
	font-weight: bold;
	padding-top: 7.5rem;
}